body{
    background-color: darkgray;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height: 118px;
    background-color:rgb(128, 128, 255);
}
nav{
    height: 40px;
    background-color:rgb(255, 128, 128);
}
main{

    height: 400px;
    background-color:rgb(255, 162, 74);
}
footer{
    height: 100px;
    background-color:rgb(0, 128, 0);
}
