.main{
    width: 1024px;
    height: 658;
}
.div1{
    width: 1024px;
    height: 118px;
    background-color:rgb(128, 128, 255);
}
.div2{
    width: 1024px;
    height: 40px;
    background-color:rgb(255, 128, 128);
}
.div3{
    width: 1024px;
    height: 400px;
    background-color:rgb(255, 162, 74);
}
.div4{
    width: 1024px;
    height: 100px;
    background-color:rgb(0, 128, 0);
}